body {
  background: $bege-claro;
  border: 10px solid $bege-medio;
  color: $cinza;

  @include device(sm) {
    border: none;
  }
}

img {
  display: block;
  max-width: 100%;
}

p {
  @include tipo-1(18);
}

.titulo {
  @include tipo-1(18);
  text-transform: uppercase;

  @include device(sm) {
    margin-bottom: 40px;
  }
  // cria os tracinhos nos titulos
  &::after {
    content: '';
    display: block;
    width: 75%;
    height: 2px;
    float: right;
    background: $cinza;
    margin-top: 15px;

    @include device(md) {
      width: 60%;
    }
  }
}